.center {
    margin: auto;
    width: 800px;
    padding: 10px;
    height: 490px;
   
    
    
    
  }
  #firstblock{
    
    background-image: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    height: 500px;
    width: 400px;
    border-top-left-radius:40px ;
    border-bottom-left-radius: 40px;
    border-top-right-radius:40px ;
    border-bottom-right-radius: 40px;
    float: left;
    margin: auto;
    text-align: center;
    margin-right: -10px;
    
    
  }
  #secondblock{
    display: inline;
    
    height:500px;
    width: 400px;
    background-color: white;
    float: right;
    filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.3));
    
    
  }
  #circle{
    width: 250px ;
    border-radius: 50%;
    height: 250px;
    background-image: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    margin: auto;
    

  }
  #circle_text{
    text-align: center;
    font-size: 125px;
    margin: auto ;
    display: block;
    padding-top: 50px;
   
    color: white;
  }
  #summary_container{
    margin: auto;
    width: 80%;
    padding: 10px;
    
    height:250px ;

  }
  ul{
    list-style-type: none;
    font-size: 18px;
    
  }
  li:nth-child(1){
    padding: 15px;
    background-color: hsl(0, 53%, 91%);
    margin: 10px;
    text-align: left;
    
    
  }
  li:nth-child(2){
    padding: 15px;
    background-color: hsl(39, 72%, 85%);
    margin: 10px;
    text-align: left;
    
  }
  li:nth-child(3){
    padding: 15px;
    background-color: hsl(165, 73%, 87%);
    margin: 10px;
    text-align: left;
    
  }
  li:nth-child(4){
    padding: 15px;
    background-color:hsl(235, 82%, 91%);
    margin: 10px;
    text-align: left;
  }
  button {
    background-color: hsl(234, 63%, 12%);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: auto   ;
    cursor: pointer;
    border-radius: 30px;
    width: 300px;
  }
  #imgs{
    display: inline;
    padding-right:20px ;
    width: 50px ;
    height: 30px;
    float: left;
    opacity: 100%;
  }
  span{
    padding-left:10px ;
    float : right;  
  }
  #para100{
    display: inline;
    color: gray;
  }